---
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Logo from "../../assets/Cabanossy-Snurra_nobg_lightblue.svg";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: {
      post: entry,
    },
  }));
}
import { Image } from "astro:assets";
import LogoBanner from "@layouts/LogoBanner.astro";

const { post } = Astro.props;

const author = await getEntry(post.data.author);

const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <LogoBanner />
  <div class="pb-12 md:pb-20 px-3 xl:px-0">
    <div class="max-w-[1100px] mx-auto lg:flex">
      <div class="bg-white shadow-xl rounded-xl p-6 md:p-8">
        <div class="lg:flex gap-8">
          <div class="prose-lg pb-8">
            <h1 class="text-4xl font-bold text-gray-900 mb-6">
              {post.data.title}
            </h1>
            <!-- List badges for tags -->
            <div class="flex">
              <span class="pr-2 text-gray-600 font-semibold">Taggar:</span>
              {
                post.data.tags.map((tag) => (
                  <span class="bg-blue-600 text-white text-sm font-semibold px-3 py-1 rounded-full mr-2 flex items-center">
                    {tag}
                  </span>
                ))
              }
            </div>
            <Content />
          </div>
        </div>
      </div>
      <div
        class="bg-neutral-100 border-neutral-200 border-2 border-l-0 mt-4 lg:mt-16 shadow-sm rounded-xl lg:rounded-l-none p-8 lg:w-64 self-start"
      >
        <Image
          src={author.data.image}
          alt={author.data.name + " profile picture"}
          width={150}
          height={150}
          class="rounded-full mx-auto mb-6 border-blue-600"
        />
        <h2 class="text-xl font-bold text-gray-900 mb-2">
          {author.data.name}
        </h2>
        <p class="text-gray-700">{author.data.bio}</p>
      </div>
    </div>
  </div>
</Layout>
