---
import Portrait from "../assets/portrait.jpg";
import { Image } from "astro:assets";
import NetIcon from "../assets/net-logo.png";
import ReactIcon from "../assets/react-logo.png";
import TsLogo from "../assets/ts-logo.png";
import WordPress from "../assets/wordpress.png";
---

<div class="max-w-[1300px] grid grid-cols-1 lg:grid-cols-5 rounded-xl bg-white">
  <Image
    src={Portrait}
    width="800"
    class="object-contain rounded-t-lg lg:rounded-r-none lg:rounded-l-xl w-full lg:w-auto shadow-lg col-span-2"
    alt="Adam Liljenberg porträttbild"
  />
  <div class="flex flex-col gap-4 justify-between shadow-lg col-span-3">
    <div class="p-5 md:p-8 flex flex-col gap-4">
      <h2 class="text-3xl md:text-4xl font-bold md:mb-2">
        Partnerskap som skapar möjligheter
      </h2>
      <p class="md:text-xl">
        När du anlitar oss får du en partner som är engagerad och lyhörd. Vi är
        specialister på att skapa moderna webbapplikationer.
      </p>
      <small>
        <a href="https://www.linkedin.com/in/adam-liljenberg/">
          Följ Adam på LinkedIn
        </a>
      </small>
    </div>
    <div
      class="mt-2 bg-gray-100 p-5 rounded-b-xl xl:rounded-bl-none flex gap-3 flex-col"
    >
      <div class="flex gap-2">
        <Image src={NetIcon} alt="Dotnet logo" height={50} class="inline" />
        <Image
          src={ReactIcon}
          alt="React logo"
          height={50}
          class="inline p-1"
        />
        <Image src={TsLogo} alt="Typescript logo" height={50} class="inline" />
        <Image
          src={WordPress}
          alt="WordPress logo"
          height={50}
          class="inline"
        />
      </div>
    </div>
  </div>
</div>
