---
interface Props {
  title: string;
  description: string;
  buttontext: string;
  link: string;
  imagesrc: string;
}

const { title, description, buttontext, link, imagesrc } = Astro.props;
---

<div class="bg-white rounded-lg p-8 max-w-[1000px] items-center flex space-x-8">
  <div class="w-1/6">
    <img src={imagesrc} class="rounded-lg" />
  </div>
  <div class="w-5/6">
    <h1 class="text-2xl font-bold">
      {title}
    </h1>
    <p class="mb-2">
      {description}
    </p>
    <a class="bg-blue-200 p-1 px-3 rounded-lg" target="_blank" href={link}>
      {buttontext}
    </a>
  </div>
</div>
